################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DEMO/.vs/DEMO/FileContentIndex/672eed0b-d350-4d63-a6df-bbb2a98cca23.vsidx
/DEMO/.vs/DEMO/FileContentIndex/c5324cb6-e735-492c-9ddb-ac21f45e4b6c.vsidx
/DEMO/.vs/DEMO/FileContentIndex/ce489009-90b1-4b4a-8877-7f52ec326337.vsidx
