################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DEMO/.vs/DEMO/FileContentIndex/672eed0b-d350-4d63-a6df-bbb2a98cca23.vsidx

/DEMO/.vs/DEMO/FileContentIndex/c5324cb6-e735-492c-9ddb-ac21f45e4b6c.vsidx
/DEMO/.vs/DEMO/FileContentIndex/ce489009-90b1-4b4a-8877-7f52ec326337.vsidx
/DEMO/.vs/DEMO/FileContentIndex/641fd16f-3b34-473f-9d0e-b117cbddb6b9.vsidx
/DEMO/.vs/DEMO/FileContentIndex/3510f951-0c33-4bdb-96f1-bc6c97a244b3.vsidx
/DEMO/.vs/DEMO/FileContentIndex/7b89b4df-d701-4327-be12-15bd6c2fcd35.vsidx
/DEMO/.vs/DEMO/FileContentIndex/a15cb884-e7e2-4057-b626-58d4326d4122.vsidx

/DEMO/.vs/DEMO/FileContentIndex/043a17c9-daa6-49f5-a4fb-0486daa5223e.vsidx
/DEMO/.vs/DEMO/FileContentIndex/2ed09b12-4171-4243-a304-bbd2314c2048.vsidx
/DEMO/.vs/DEMO/FileContentIndex/61e87a83-26d5-4e0d-84d1-b16ce9a1e5dc.vsidx
/DEMO/.vs/DEMO/FileContentIndex/a9949011-14a4-4b62-bb7c-e441f2ab200f.vsidx
/DEMO/.vs/DEMO/FileContentIndex/b09f0642-7a00-4934-b086-455023516e58.vsidx

